# =============================================================================
# Python
# =============================================================================

.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# =============================================================================
# Logs
# =============================================================================

logs/
*.log

# =============================================================================
# Checkpoints
# =============================================================================

services/**/checkpoints/

# =============================================================================
# Dataset
# =============================================================================

datasets/

# =============================================================================
# IDE
# =============================================================================

.vscode/
.idea/

# =============================================================================
# Environment
# =============================================================================

.env

# =============================================================================
# Python Cache
# =============================================================================

.pytest_cache/

# =============================================================================
# Docker
# =============================================================================

docker/kafka-data/

# =============================================================================
# OS Files
# =============================================================================

Thumbs.db
.DS_Store